<div id="pfo-nvbar">
  <button type="button" class="btn btn-primary pull-right btn-run">RUN<i class="fas fa-code"></i></button>
  <div id="push" class="btn-group pull-right" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-html">HTML<i class="fab fa-html5"></i></button>
    <button type="button" class="btn btn-primary btn-css">CSS<i class="fab fa-css3"></i></button>
    <button type="button" class="btn btn-primary btn-js">JS<i class="fab fa-js"></i></button>
  </div>
</div>
